<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.url }}" class="btn">Home</a>
        <a href="{{ site.url }}/projects" class="btn">Projects</a>
        <a href="{{ site.url }}/cs_courses" class="btn">CS Courses</a>
        <a href="{{ site.url }}/aboutme" class="btn">About Me</a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <a href="{{ site.url }}" class="site-footer">Home</a> | 
        <a href="{{ site.url }}/projects" class="site-footer">Projects</a> |
        <a href="{{ site.url }}/cs_courses" class="site-footer">CS Courses</a> |
        <a href="{{ site.url }}/aboutme" class="site-footer">About Me</a>
      </footer>



        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
    </section>

  </body>
</html>
